version: '3.8'

services:
  
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:

        VITE_API_URL: http://backend:3000
    ports:
      - "8081:8081" 
    depends_on:
      - backend

  backend:
    build: 

      context: ./server
      dockerfile: Dockerfile.backend
    ports:
      - "3000:3000" 
    environment:

      DATABASE_SERVICE_URL: "http://database-service:4000"
      PORT: "3000"
      CLIENT_ORIGIN: "http://localhost:8081"
      MONGODB_URI: "mongodb://mongo:27017/sydai"
      SESSION_SECRET: "change-me"
      GOOGLE_CLIENT_ID: "1040837462679-b45hqu05n8adt17oid1bq7754pa0bkqt.apps.googleusercontent.com"
      GOOGLE_CLIENT_SECRET: "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"
      GITHUB_CLIENT_ID: "Ov23lisOjuHxAmWqeqg4"
      GITHUB_CLIENT_SECRET: "84892177baf834eae0618a18ae4e8b4c0b6d1c2b"

    depends_on:
      - mongo
      - database-service

  database-service:
    build:
      context: ./database
      dockerfile: Dockerfile.database
    ports:
      - "4000:4000" 
    environment:
      PORT: 4000
      MONGODB_URI: mongodb://mongo:27017/sydai
      ALLOW_ORIGIN: http://backend:3000 
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017" 
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: