apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sydai-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: sydai.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 8081
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: server-service
                port:
                  number: 3000
          - path: /ai
            pathType: Prefix
            backend:
              service:
                name: server-service
                port:
                  number: 3000
          - path: /status
            pathType: Prefix
            backend:
              service:
                name: server-service
                port:
                  number: 3000
          - path: /health
            pathType: Prefix
            backend:
              service:
                name: server-service
                port:
                  number: 3000